{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COBOK</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        var post_url = "{% url 'api-register' %}";
        var get_url = "{% url 'api-AIData' %}";
        var LastLogin = "{% url 'api-LastLogin' pk='argument' %}";
        var csrf = "{{ csrf_token }}";
    </script>
    <script src = "{% static 'javascript/login.js' %}"></script>
</head>
<body>
    <div class="nav">
        <div class="nav_logo">
            <a href = "/home">
                <img class = "logo" src="{% static 'image/dogeImg.jpeg' %}" alt="">
            </a>
            <a href = "/home" style="color: wheat;">COBOK</a>
        </div>
        <ul class="navbar_menu">
            <li><a href = "/home">Home</a></li>
            <!-- <li><a href = "../login">Login</a></li> -->
            <!-- <li><a href = "../sign_up">Register</a></li> -->
            <!-- <li><a href = "../userpage">UserPage</a></li> -->
        </ul>
        <div class="icon">
            <a href = "https://www.kakaocorp.com/page/service/service/KakaoTalk">
                <img class = "nav_icon" src="{% static 'image/kakaoimg.png' %}" alt="">
            </a>
            <a href="https://twitter.com/?lang=ko">
                <img class = "nav_icon" src="{% static 'image/twiterimg.png' %}" alt="">
            </a>
        </div>
    </div>
    <div class = "container">
        <div class="coin_news">
            <div class="pagination">
                <ol id = "numbers">
                </ol>
            </div>
            <ul class = news_contents>
            </ul>
            <div class="page_button">
            </div>
        </div>
    </div>
    <!-- {% block content %}

    <table>
        <tr>
            <td>IP</td><td>Hostname</td><td>Connect</td>
        </tr>
    {% for i in context %}
        <tr>
        {% for key, value in i.items %}
            <td>
                {{ key }}
                {{ value }}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    
    </table>
    {% endblock content %} -->
    <script>
        var AIData;
        
        function upgrade_table(){

        }
        $(document).ready(function(){
            $.ajax({
                type : "GET",
                url : get_url,
                success : function(data){
                    var page_num = Math.ceil(data.length/10);
                    var paging = $('div.page_button');
                    var contents = $('ul.news_contents');
                    var page_num_state = table_state['page_num'] * 10;

                    $('div.page_button *').remove();
                    $('ul.news_contents *').remove();
                    for(var i = 0;i<page_num;i++){
                        paging.append('<a href = "javascript:return false;" class = "page_num"' + `onclick = "click_event_page('${i}');" ` + '>' + (i + 1) + '</a>');
                    }

                    if (data.length - page_num_state < 10){
                        temp = data.length - page_num_state;
                    }
                    else{
                        temp = 10;
                    }

                    // for(var i = 0;i<temp;i++){
                    //     contents.append('<li class = "coin_news_items"><a id = "news_name" href = '
                    //     + data[i + page_num_state][1] + '>'
                    //     + data[i + page_num_state][0] +'</a></li>');
                    // }
                    AIData = data;

                    console.log(data);
                }
            });
        })
    </script>
</body>