{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>
    <script type="text/javascript">
    window.onload = function () {
    var dps1 = [], dps2= [];
    var stockChart = new CanvasJS.StockChart("chartContainer",{
        theme: "light2",
        exportEnabled: true,
        title:{
        text:"StockChart with Date-Time Axis"
        },
        subtitles: [{
        text: "Bitcoin Price (in USD)"
        }],
        charts: [{
        axisX: {
            crosshair: {
            enabled: true,
            snapToDataPoint: true
            }
        },
        axisY: {
            prefix: "$"
        },
        data: [{
            type: "candlestick",
            yValueFormatString: "$#,###.##",
            dataPoints : dps1
        }]
        }],
        navigator: {
        data: [{
            dataPoints: dps2
        }],
        slider: {
            minimum: new Date(2018, 04, 01),
            maximum: new Date(2018, 06, 01)
        }
        }
    });
    $.getJSON("https://canvasjs.com/data/docs/btcusd2018.json", function(data) {
        for(var i = 0; i < data.length; i++){
            console.log(data[i].data);
            dps1.push({x: new Date(data[i].date), y: [Number(data[i].open), Number(data[i].high), Number(data[i].low), Number(data[i].close)]});
            dps2.push({x: new Date(data[i].date), y: Number(data[i].close)});
        }
        stockChart.render();
    });
    }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        post_url = "{% url 'api-register' %}";
        get_url = "{% url 'api-newsList' %}";
        csrf = "{{ csrf_token }}";
    </script>

    <script src = "{% static 'javascript/index.js' %}"></script>
    <title>COBOK</title>
</head>
<body>
    <div class="nav">
        <div class="nav_logo">
            <a href = "/">
                <img class = "logo" src="{% static 'image/dogeImg.jpeg' %}" alt="">
            </a>
            <a href = "/home" style="color: wheat;">COBOK</a>
        </div>
        <ul class="navbar_menu">
            <li><a href = "/home">Home</a></li>
            <!-- <li><a href = "../login">Login</a></li> -->
            <!-- <li><a href = "../sign_up">Register</a></li> -->
            <!-- <li><a href = "../userpage">UserPage</a></li> -->
        </ul>
        <div class="icon">
            <a href = "https://www.kakaocorp.com/page/service/service/KakaoTalk">
                <img class = "nav_icon" src="{% static 'image/kakaoimg.png' %}" alt="">
            </a>
            <a href="https://twitter.com/?lang=ko">
                <img class = "nav_icon" src="{% static 'image/twiterimg.png' %}" alt="">
            </a>
        </div>
    </div>
    <div class = "container">
        <div class="coin_news">
            <div class="pagination">
                <ol id = "numbers">
                </ol>
            </div>
            <ul class = news_contents>
            </ul>
            <div class="page_button">
            </div>
        </div>
    </div>
    <div id="chartContainer" style="height: 450px; width: 100%;"></div>
</body>
</html>